# IDE
.vs/
.vscode/
*.user
*.sln.iml

# Build results
bin/
obj/
*.dll
*.exe

# Configuration files with secrets
**/auth.json
SpuntiniBCGateway/TestData/Bella Sicilia/Recherchededocument_Typedejournal-Facturenotedecredit_Datesuperieura-01012026_Dateinferieura-31012026_20260112145146652.xlsx
